
<div class="row">
	<div class="col-12">
		<br/>
    <nb-card class="inline-form-card">
      <nb-card-header><h4 class="text-capitalize">{{ 'Gestion des profils' | translate }}</h4></nb-card-header>
      <br/>
      <nb-card-body>
        <form>
          <div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="rechMulticodeprofilId">{{'code'|translate}}</label>
              <div class="col-md-3" >
                <input type="text" id="rechMulticodeprofilId" name="rechMulticodeprofil"  class="form-control"
                mdInput [(ngModel)]="rechMulti.codeProfil" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="rechMultilibelleFrId">Libellé</label>
              <div class="col-md-3" >
                <input type="text" id="rechMultilibelleFrId" name="rechMultilibelleFr"  class="form-control"
                mdInput [(ngModel)]="rechMulti.libelleFr" />
              </div>
              <div class="col-md-3" >
                <input type="text" id="rechMultilibelleArId" name="rechMultilibelleAr"  class="form-control"
                mdInput [(ngModel)]="rechMulti.libelleAr" />
              </div>
              <label class="col-md-2 col-form-label" for="rechMultilibelleArId">صياغة</label>
            </div>
            <div class="form-group row">
              <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                <button nbButton (click)="rechercherProfil()">{{'find'|translate}}</button>
              </div>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
	</div>

</div>

<div class="row">
  <div class="col-12">
    <nb-card class="inline-form-card">
      <nb-card-header><h4 class="text-capitalize">{{ 'Liste des profils' | translate }}
        <button class="btn btn-default float-lg-none add-user" data-toggle="modal" (click)="initAjouter();ajouterModal.show()"></button>
      </h4>

      </nb-card-header>
      <nb-card-body>

        <div class="d-flex justify-content-start align-items-center">
          <button *ngIf="!this.estModeConnecte" class="btn btn-primary" data-toggle="modal" (click)="initAjouter();ajouterModal.show()">Ajouter<i class="fa fa-plus ml-2"></i></button>
        </div>
        <div class="form-group row justify-content-center" *ngIf="profilManageList.length>0">
          <ng2-smart-table [source]="source"  [settings]="settings">
          </ng2-smart-table>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>

	<div bsModal #ajouterModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-info modal-xl" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h4 class="modal-title">Profil</h4>
			  <button type="button" class="close"  (click)="ajouterModal.hide()" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
				<div class="form-group row">
					<label class="col-md-2 col-form-label" for="codeProfilId">Code Profil</label>
					<div class="col-md-4" >
					  <input type="text" id="codeProfilId" [disabled]="!estModeAjout" name="codeProfil" required class="form-control" 
					  mdInput [(ngModel)]="newProfil.codeProfil" />
					</div>
					<div class="col-md-4" >
						<input  type="checkbox" [(ngModel)]="newProfil.estActiver" />
						<label class="col-md-3 col-form-label"> Active</label>
					</div>
					
				</div>
				<div class="form-group row">
					<label class="col-md-2 col-form-label" for="libelleFrId">Libellé</label>
					<div class="col-md-4" >
					  <input type="text" id="libelleFrId" name="libelleFr" required class="form-control" 
					  mdInput [(ngModel)]="newProfil.libelleFr" />
					</div>
					
					<div class="col-md-4" >
					  <input type="text" id="libelleArId" name="libelleAr" required class="form-control" 
					  mdInput [(ngModel)]="newProfil.libelleAr" />
					</div>
					<label class="col-md-2 col-form-label" for="libelleArId">صياغة</label>
				</div>
				<div class="row">
					<div class="col-lg-6 col-xl-4 mb-4 mb-lg-3">
						<div class="chk-ui-heading">
							<h3 class="text-capitalize">Module</h3>
						</div>
						
						<div class="list-group">
							<div *ngFor="let parent of listAllMenu">
								<button type="button" (click)="onChoisirModule(parent)" class="list-group-item list-group-item-action">{{parent.libelleFr}}</button>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-xl-4 mb-4 mb-lg-3">
						<div *ngIf="menuSelected">
							<div class="chk-ui-heading">
								<h3 class="text-capitalize">Fonctionnalitées choisis ({{menuSelected.libelleFr}})</h3>
							</div>
							<div class="sortable-drag-list" [sortablejs]="menuSelected.childrenOutProfil" [sortablejsOptions]="groupOptions">
								<div class="drag-handle mb-4" *ngFor="let menu of menuSelected.childrenOutProfil">
									<h3 class="font-weight-normal"> <i class="fa fa-bars mr-3" aria-hidden="true"></i> {{ menu.libelleFr }} </h3>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-xl-4 mb-4">
						<div *ngIf="menuSelected">
							<div class="chk-ui-heading">
								<h3 class="text-capitalize">Fonctionnalitées choisis ({{menuSelected.libelleFr}})</h3>
							</div>
							<div class="sortable-drag-list" [sortablejs]="menuSelected.childrenInProfil" [sortablejsOptions]="groupOptions">
								<div class="drag-handle mb-4" *ngFor="let menu of menuSelected.childrenInProfil">
									<h3 class="font-weight-normal"> <i class="fa fa-bars mr-3" aria-hidden="true"></i> {{ menu.libelleFr }}
									</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" (click)="ajouterModal.hide()">Annuler</button>
			  <button type="button" class="btn btn-info" (click)="ajouterModal.hide(); enregistrerProfil()" >Enregistrer</button>
			</div>
			
		  </div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	  </div>
