<div class="row">

    <div class="col-12">
        <nb-card size="small">
          <form>
          <nb-tabset fullWidth>
            <nb-tab tabTitle="{{'Informations personnelle'|translate}}">
                <div class="form-group row">
                    <label for="inputprenomFr" name="label1" class="label col-sm-2 col-form-label">Prénom</label>
                    <div class="col-sm-4">
                      <input type="text" [(ngModel)]="newContribuable.prenomFr" nbInput fullWidth id="inputprenomFr" name="inputprenomFr" placeholder="Prénom">
                    </div>
                    <div class="col-sm-4">
                      <input type="text" [(ngModel)]="newContribuable.prenomAr" nbInput fullWidth id="inputprenomAr" name="inputprenomAr" placeholder="الإ سم">
                    </div>
                    <label for="inputprenomAr" class="label col-sm-2 col-form-label">الإ سم</label>
                  </div>
                <div class="form-group row">
                  <label for="inputNomFr" class="label col-sm-2 col-form-label">Nom</label>
                  <div class="col-sm-4">
                    <input type="text" [(ngModel)]="newContribuable.nomFr" nbInput fullWidth id="inputNomFr" name="inputNomFr" placeholder="Nom">
                  </div>
                  <div class="col-sm-4">
                    <input type="text" [(ngModel)]="newContribuable.nomAr" nbInput fullWidth id="inputnomAr" name="inputnomAr" placeholder="النسب">
                  </div>
                  <label for="inputnomAr" class="label col-sm-2 col-form-label">النسب</label>
                </div>
                <div class="form-group row">
                  <label for="inputPhoneFix" class="label col-sm-2 col-form-label">{{'phonefixe'|translate}}</label>
                  <div class="col-sm-4">
                    <input type="text" [(ngModel)]="newContribuable.telephoneFixe" nbInput fullWidth id="inputPhoneFix" name="inputPhoneFix" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPhoneMobile" class="label col-sm-2 col-form-label">{{'phonemobile'|translate}}</label>
                  <div class="col-sm-4">
                    <input type="text" [(ngModel)]="newContribuable.telephoneMobile" nbInput fullWidth id="inputPhoneMobile" name="inputPhoneMobile" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputemail" class="label col-sm-2 col-form-label">{{'email'|translate}}</label>
                  <div class="col-sm-4">
                    <input type="text" [(ngModel)]="newContribuable.email" nbInput fullWidth id="inputemail" name="inputemail" placeholder="">
                  </div>
                </div>
            </nb-tab>
            <nb-tab id="adresseTab" tabTitle="{{'adresse'|translate}}">
              <div class="form-group row">
                <label for="inputadresse" class="label col-sm-1 col-form-label">{{'adresse'|translate}}</label>
                <div class="col-sm-5">
                  <textarea rows="4" [(ngModel)]="newContribuable.adresse" nbInput fullWidth id="inputadresse" name="inputadresse" placeholder="" ></textarea>
                </div>
                
              </div>
              <div class="form-group row">
                <label for="inputzone" class="label col-sm-1 col-form-label">{{'zone'|translate}}</label>
                <div class="col-sm-2">
                  <input type="number" [(ngModel)]="newContribuable.zone" nbInput fullWidth Onlynumber id="inputzone" name="inputzone" placeholder="" >
                </div>
                <label for="inputcarre" class="label col-sm-1 col-form-label">{{'carre'|translate}}</label>
                <div class="col-sm-2">
                  <input type="number" [(ngModel)]="newContribuable.carre" nbInput fullWidth Onlynumber id="inputcarre" name="inputcarre" placeholder="" >
                </div>
                <label for="inputbloc" class="label col-sm-1 col-form-label">{{'bloc'|translate}}</label>
                <div class="col-sm-2">
                  <input type="number" [(ngModel)]="newContribuable.bloc" nbInput fullWidth Onlynumber id="inputbloc" name="inputbloc" placeholder="" >
                </div>
              </div>
              <div class="form-group row">
                  <label for="inputbatiment" class="label col-sm-1 col-form-label">{{'batiment'|translate}}</label>
                  <div class="col-sm-2">
                    <input type="number" [(ngModel)]="newContribuable.batiment" nbInput fullWidth Onlynumber id="inputbatiment" name="inputbatiment" placeholder="" >
                  </div>
                  <label for="inputetage" class="label col-sm-1 col-form-label">{{'etage'|translate}}</label>
                  <div class="col-sm-2">
                    <input type="number" [(ngModel)]="newContribuable.etage" nbInput fullWidth Onlynumber id="inputetage" name="inputetage" placeholder="" >
                  </div>
                  <label for="inputporte" class="label col-sm-1 col-form-label">{{'porte'|translate}}</label>
                  <div class="col-sm-2">
                    <input type="number" [(ngModel)]="newContribuable.porte" nbInput fullWidth Onlynumber id="inputporte" name="inputporte" placeholder="" >
                  </div>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Full width tab #3">
              <span>Content #3</span>
            </nb-tab>
          </nb-tabset>
          </form>
        </nb-card>
      </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-body>
        <button type="submit" nbButton>{{'save'|translate}}</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>